*
{
	padding: 0;
	margin: 0;
	box-sizing: border-box;

}
body 
{
	background-position: none ;
	background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 70% 80%;	
}
h2
{
	justify-content: right;
	text-align: right;

}
p
{
	padding: 15px;
	margin: 0px;
	color: white;
	width: 80%;
	text-align: right;
	list-style: bold;
	background: gray
}
.section #id
{
    justify-content: center;
    align-items: center;
}
.menu-bar
{
	background:rgb(0,100,0);
	text-align: right;
}
.menu-bar ul
 {
 display: inline-flex;
 list-style: none;
 color: white;
	
}
.menu-bar ul li
{
	width: 100px;
	margin: 12px;
	padding: 5px;

}
.menu-bar ul li a
{
	text-decoration: none;
	color: white;
	font-size: 15px;
	text-align: right;

}
.active, .menu-bar ul li:hover
{
	background: #2bab0d;
	border-radius: 3px;
	
}
.super
{
	position: relative;
	width: 100%;
	display: flex;
}
.super.superBx
{
	background: transparent;
	padding: 100px;
	box-shadow: 10px 10px 5px green;
	width: 30%;
}
.headingX
{
	color:#fff;
    text-shadow: 1px 1px 2px black, 0 0 25px blue, 0 0 5px darkblue;
	text-align: center;
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 1px;
	margin-left: 22%;
}
.textX
{
	color:black;
	font-size: 30px
	font-weight: 300;
	text-align: center;
	margin-left: 22%;
	letter-spacing: 4px;
}
